.change-font {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.change-font2 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.change-font:hover {
    color: hotpink;
}

.navbar {
    background-color: #1a1a1a;
}

html {
    height: 100%;
}

body {
    background-color: #1a1a1a !important;
    height: 100%;
}

.carousel {
    height: 65%;
    margin-bottom: 0px;
}

.carousel-inner {
    max-height: 100%;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.nav-item {
    list-style-type: none;
}

.text-overlay {
    z-index: 12;
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
}

.carousel-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
}

.carousel-sub-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}

.navbar2 {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.li-padding {
    padding-left: 2vw;
    padding-right: 2vw;
}

.home-image {
    width: 25%;
    float: right;
    margin-left: 2vw;
}

.home-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.gallery-img {
    width: 33%;
}

.myHover:hover {
    opacity: 0.7;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    padding: 20px;
}

.extra-space {
    margin-top: 0.5vw;
}

.cam-img1 {
    width: 49%;
    display: inline-block
}

.cam-img2 {
    width: 49%;
    display: inline-block;
}

.lokiloki-img1 {
    width: 49%;
    display: inline-block
}

.lokiloki-img2 {
    width: 49%;
    display: inline-block;
}

.active-nav {
    text-decoration: underline;
}

.cam-website {
    width: 100%;
}

.extra-space2 {
    margin-top: 1vw;
}

.bottom-space {
    padding: 5vw;
}

.page-space {
    padding: 2vw;
}

.wcw-pic {
    width: 40%;
    float: left;
    margin-right: 1.5vw;
}
.engfrosh-pic {
    width: 20%;
    float: left;
    margin-right: 1.5vw;
}
.wcw{
    width: 50%;
    float: left;
}
.modal-dialog{
    min-width: 50%;
}